:root {
    --text: whitesmoke; 
    --dark-background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
    gap: 20px;
    justify-self: center;
}

.square {
    background-color: rgb(75, 58, 85);
    border: 2px solid rgb(118, 91, 135);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(1px) translateY(0px);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.square:hover {
    transform: translateY(-8px);
}

.content {
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-background);
}

h1 {
    text-align: center;
}

.page {
    background-color: var(--dark-background);
    color: var(--text);
}